/* #region baseline */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-body: 'Poppins', sans-serif;
  --fs-lrg-H1: 6rem;
  --fs-lrg-H2: 3.75rem;
  --fs-lrg-H3: 3rem;
  --fs-lrg-H4: 2.125rem;
  --fs-lrg-H5: 1.5rem;
  --fs-lrg-H6: 1.25rem;
  --fs-lrg-body-1: 1rem;
  --fs-lrg-body-2: 0.875rem;
  --fs-lrg-caption: 0.75rem;
   --nav-background: rgba(134, 162, 194, 0.723);
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--ff-body);
  font-size: var(--fs-lrg-body-1)
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: var(--fs-lrg-H1)
}

h2 {
  font-size: var(--fs-lrg-H2)
}

h3 {
  font-size: var(--fs-lrg-H3)
}

h4 {
  font-size: var(--fs-lrg-H4)
}

h5 {
  font-size: var(--fs-lrg-H5)
}

h6 {
  font-size: var(--fs-lrg-H6);
  font-weight: 500;
}

p {
  font-size: var(--fs-lrg-body-1)
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
   object-fit: cover;
}
img[width] {
  width: auto; /* Defer to max-width */
}
img[width][height] {
  height: auto; /* Preserve aspect ratio */
}

.container {display:grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap: 10px;

}

nav {
  padding-top: 0;
  height: 10vh;
  grid-column: 1 / 13;
  display: grid;
  background-color: var(--nav-background)
}

nav ul.left-nav-ul {
 display: flex;
    grid-column: 2 / 6;
    justify-content: space-between;
}

nav ul.right-nav-ul {
padding-right: 1rem;
    display: flex;
    grid-column: 11 / 12;
    justify-content: space-between;
}

nav li a {
   text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.primary-content {
  grid-column: 2/ 12;
  grid-row: 2 /7;
  display: flex;
  flex-wrap: wrap;
  align-items: top;
  justify-content: space-evenly;

}


.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 40%;
}
/* #endregion */

/* #region containers */

.card {
display:flex;
  flex-wrap: wrap;
  	border: 2px solid #111010;
	border-radius: 8px;
  margin: 2rem;
  overflow: hidden;
  align-items: center;
  max-width: 500px;
  }

.card-image {
		min-height: 100%;
		width: auto;
		height: auto;
object-fit: fill;
object-position: 50% 50%;

}

.card h6{
  padding:.5rem;

}
/* #endregion */