/* startregion baseline */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-body: 'Poppins', sans-serif;
  --fs-H1: 4.5rem;
  --fs-H2: 2.75rem;
  --fs-H3: 2rem;
  --fs-H4: 2.125rem;
  --fs-H5: 1.5rem;
  --fs-H6: 1.25rem;
  --fs-body-1: 1rem;
  --fs-body-2: 0.875rem;
  --fs-caption: 0.75rem;
  --clr-primary-light: rgb(255, 255, 255);
  --clr-primary-dark: rgb(38, 38, 38);
  --fclr-primary-light: rgb(38, 38, 38);
  --fclr-primary-dark: rgb(255, 255, 255);
  --nav-background: rgb(134, 162, 194);
  /* use for background */
  --clr-primary: rgba(2, 115, 94, 1);
  /* use for nav */
  --clr-secondary: rgba(2, 89, 81, 1);
  /* maybe for menu buttons */
  --clr-outline: rgba(3, 65, 89, 1);
  /* for important icons */
  --clr-important: rgba(12, 242, 93, 1);
  /* subtext? */
  --clr-subtext: rgba(3, 140, 62, 1);
  /* main background */
  --clr-mybackground: rgba(166, 166, 166, 1);
  --clr-alt-background: rgba(64, 64, 64, 1);
  --clr-btn: rgba(219, 219, 219, 1);
  --padding: 1rem;
  margin: 0;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: var(--clr-secondary);
  color: var(--fclr-primary-dark);
  font-family: var(--ff-body);
  font-size: var(--fs-body);
}

h1 {
  font-size: var(--fs-H1);
  font-weight: 600;
  line-height: 1.3;
  margin: 0;
}

h2 {
  font-size: var(--fs-H2);
  font-weight: 600;
  margin: 0;
}
h3 {
  font-size: var(--fs-H3);
  margin: 0;
}

h4 {
  font-size: var(--fs-H4);
  margin: 0;
}
h5 {
  font-size: var(--fs-H5);
}

p {
  font-size: var(--fs-body-1);
  margin:0;
}

a {
  display: block;
  padding: 8px;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: var(--fclr-primary-dark);
}

a:hover {
  text-decoration: underline;
}

.active {
  text-decoration: underline;
  background-color: var(--clr-subtext);
}

img {
  padding: 0;
  margin: 0;
}

svg {
  /* color: red; */
  width: 1.5rem;
}

/* endregion baseline */

.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 5px;
  row-gap: 1em;
}

nav {
  grid-column: 1 / 4;
  display: flex;
  height: 10vh;
  text-align: center;
  align-items: center;
  background-color: var(--clr-primary);
  color: var(--fclr-primary-dark);
  font-size: var(--fs-body-1);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  opacity: 0;
}
nav ul.left-nav-ul {
  display: inline-block;
  padding: 0;
}

nav li a {
  color: var(--fclr-primary-dark);
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem;
}

.primary-content {
  padding-top: 0;
  grid-column: 1/ 4;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
}
/* .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 1rem;
  align-items: flex-start;
} */


.card-container {

  color: var(--fclr-primary-dark);
  font-weight: 400;

  margin: 1rem;

}

.card {
  padding: 8rem 0 0 0;
  background-size: cover;
  max-width: max-content;
  color: var(--fclr-primary-dark);
  font-weight: 400;
}



/* .card-header.card-image > img {
  display: block;
  width: 100%;
  max-height: 200px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
  transition: 200ms transform ease-in-out;
} */

/* .card:hover > .card-header.card-image > img {
  transform: scale(1.025);
} */

.card-header{
  font-size:1.12rem;
  font-weight: 600;
  text-align: left;
  --padding: 1rem;
  position: relative;
  text-transform: uppercase;
  width: fit-content;
}

.card-header::after {
  content: '';
  position: absolute;
  background: var(--clr-subtext);
  height: 5px;
  left: calc(var(--padding) * -1);
  bottom: 0;
  width: calc(100% + var(--padding));
}

.card-body {
  padding: 1.5em;
  padding-bottom: 0;
  background: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(23 0% 0% / 0.5) 30%,
     hsl(0 0% 0% /1)
  );
}
.card-content{
  padding-bottom: 0.5rem;
}

  .card-footer {
  display: flex;
  background-color: var(--clr-outline);
 padding-top: 2rem;
 padding-bottom: 0.5rem;
 padding-left: 0.5rem;
 padding-right: 0.5rem;
  justify-content: space-between;
  }
  /* 32dp = 24px
200dp for desktop = 150px
and 16dp for phones = 12px */
/* footer {
  grid-column: col-start 1 / 4;
  background-color: var(--clr-primary-dark);
  color: var(--fclr-primary-dark);
  font-size: var(--fs-body-1);
} */

/* #region buttonsIcons */
button, button{
  cursor: pointer;
  display: inline-block;
  color: var(--fclr-primary-light);

  text-decoration: none;
  background-color: var(--clr-important);
  border-radius: 0.25em;
  padding: 0.5em, 1.25em;
}

.button:hover > span,
.button:focus > span {
  text-decoration: underline;
  color: red;
}

.material-icons.red {
  color: red;
}

.material-icons {
  color: red;
}

.material-icons-outlined.blue {
  color: blue;
}

.material-icons.blue,
p.material-icons.blue {
  color: blue;
}

.material-icons:hover,
.material-icons:focus {
  cursor: pointer;
  transform: scale(0.85);
}

.material-icons:active {
  transform: scale(0.96);
}

/*  #endregion buttonsIcons */

/* #startregion mid media */
@media (min-width: 40em) {
  :root {
    --fs-H1: 6rem;
    --fs-H2: 3.75rem;
    --fs-H3: 3rem;
    --fs-H4: 2.125rem;
    --fs-H5: 1.5rem;
    --fs-H6: 1.25rem;
    --fs-body-1: 1rem;
    --fs-body-2: 0.875rem;
    --fs-caption: 0.75rem;
  }

  .container {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 10px;
  }

  nav {
    padding-top: 0;
    height: 10vh;
    grid-column: 1 / 13;
    display: grid;
  }

  nav ul {
    opacity: 1;
  }

  nav ul.left-nav-ul {
    display: flex;
    grid-column: 2 / 6;
    justify-content: space-between;
    letter-spacing: 2px;
    font-size: var(--fs-H6);
  }

  nav ul.right-nav-ul {
    padding-right: 1rem;
    display: flex;
    grid-column: 11 / 12;
    justify-content: space-between;
    letter-spacing: 2px;
  }

  nav li a {
    opacity: 1;
    font-size: var(--fs-body-1);
  }

  .sidebear {
    grid-column: 1;
    grid-row: 2/7;
  }
  .primary-content {
    grid-column: 2 / 12;
    grid-row: 2 /7;
    margin: 1rem;


    justify-content: space-around;
  }

 /* .cards {
   display: grid;
   grid-template-columns: repeat(12,  1fr);
   grid-gap: 1rem;

 } */

 .card-container{}
 .card{

   max-width: 350px;

     flex-direction: row;
     flex-flow: wrap;

 }
 .create-edit-post-container{
  grid-column: 6/7;
 }
  /* #endregion  mid media */
}

.post-create-edit-form{
  display: grid;
  grid-template-columns: repeate(3, 1fr);
  grid-template-rows: minmax(350, 1fr);

}

  .upload-button {
    grid-row: 2;
  }

  .post-submit-button{
    grid-row: 3;
  }
/* #startregion large-media */
@media (min-width: 50em) {
  :root {
    --fs-H1: 6rem;
    --fs-H2: 3.75rem;
    --fs-H3: 3rem;
    --fs-H4: 2.125rem;
    --fs-H5: 1.5rem;
    --fs-H6: 1.25rem;
    --fs-body-1: 1rem;
    --fs-body-2: 0.875rem;
    --fs-caption: 0.75rem;
  }
}

/* #endregion large-media */
/* 40 em = 640 px
50em = 960px */
