/* startregion baseline */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-body: 'Poppins', sans-serif;
  --fs-H1: 4.5rem;
  --fs-H2: 2.75rem;
  --fs-H3: 2rem;
  --fs-H4: 2.125rem;
  --fs-H5: 1.5rem;
  --fs-H6: 1.25rem;
  --fs-body-1: 1rem;
  --fs-body-2: 0.875rem;
  --fs-caption: 0.75rem;
  --clr-primary-light: rgb(255, 255, 255);
  --clr-primary-dark: rgb(38, 38, 38);
  --fclr-primary-light: rgb(38, 38, 38);
  --fclr-primary-dark: rgb(255, 255, 255);
  --nav-background: rgba(134, 162, 194, 0.723);
  /* use for background */
  --clr-primary: rgb(20, 139, 189);
  /* use for nav */
  --clr-secondary: rgba(2, 89, 81, 1);
  /* maybe for menu buttons */
  --clr-outline: rgba(3, 65, 89, 1);
  /* for important icons */
  --clr-important: rgb(12, 119, 242);
  /* subtext? */
  --clr-subtext: rgba(3, 106, 140, 0.73);
  /* main background */
  --clr-mybackground: rgba(166, 166, 166, 1);
  --clr-alt-background: rgba(64, 64, 64, 1);
  --clr-btn: rgba(219, 219, 219, 1);
  --padding: 1rem;
  margin: 0;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: var(--clr-primary-light);
  color: var(--fclr-primary-light);
  font-family: var(--ff-body);
  font-size: var(--fs-body);
}

h1 {
  font-size: var(--fs-H1);
  font-weight: 600;
  line-height: 1.3;
  margin: 0;
}

h2 {
  font-size: var(--fs-H2);
  font-weight: 600;
  margin: 0;
}

h3 {
  font-size: var(--fs-H3);
  margin: 0;
}

h4 {
  font-size: var(--fs-H4);
  margin: 0;
}

h5 {
  font-size: var(--fs-H5);
    margin: 0;

}
h6 {
  font-size: var(--fs-H6);
    margin: 0;

}
p {
  font-size: var(--fs-body-1);
  margin: 0;
}

a {
  display: block;
  padding: 8px;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: var(--fclr-primary-dark);
}

a:hover {
  text-decoration: underline;
}

.active {
  text-decoration: underline;
  background-color: var(--clr-subtext);
}

label {
  display: block;
  font-weight: 600;
}
img {
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  aspect-ratio: 1/1;
  object-fit: cover;
}

svg {
  /* color: red; */
  width: 1.5rem;
}

button {
  font-size: var(--fs-caption);
}
/* endregion baseline */

.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 5px;
  row-gap: 1em;
}

nav {
  grid-column: 1 / 4;
  display: flex;
  height: 10vh;
  text-align: center;
  align-items: center;
  background-color: var(--clr-primary);
  color: var(--fclr-primary-dark);
  font-size: var(--fs-body-1);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  opacity: 0;
}

nav ul.left-nav-ul {
  display: inline-block;
  padding: 0;
}

nav li a {
  color: var(--fclr-primary-dark);
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem;
}

.primary-content {

  padding-top: 0;
  grid-column: 1/ 4;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
}



.card-container {

  color: var(--fclr-primary-light);
  font-weight: 400;


}






.card-body {
  padding: .5em;
  padding-bottom: 0;

}

.card-content {
  padding-bottom: 0.5rem;
}

.card-actions {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;

  bottom: 0px;

  /* Inside auto layout */

  order: 4;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
}



.card-footer {
  display: flex;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  justify-content: space-between;
}



.btn-icon {
  background: none;
  border: none;

}


.btn-icon:hover > span,
.btn-icon:focus > span {
  text-decoration: underline;
  color: rgb(74, 123, 195);
}

.btn-show {
  background: none;
  outline: none;
}
.material-icons {
  color: rgb(74, 123, 195);
}

.material-icons-outlined {
  color: rgb(74, 123, 195);
}

.material-icons:hover,
.material-icons:focus {
  cursor: pointer;
  transform: scale(0.85);
}

.material-icons:active {
  transform: scale(0.96);
}

/* #region buttonsIcons */



/*  #endregion buttonsIcons */

/* #startregion mid media */
@media (min-width: 40em) {
  :root {
    --fs-H1: 6rem;
    --fs-H2: 3.75rem;
    --fs-H3: 3rem;
    --fs-H4: 2.125rem;
    --fs-H5: 1.5rem;
    --fs-H6: 1.25rem;
    --fs-body-1: 1rem;
    --fs-body-2: 0.875rem;
    --fs-caption: 0.75rem;
  }

  .container {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 10px;
  }

  nav {
    padding-top: 0;
    height: 10vh;
    grid-column: 1 / 13;
    display: grid;
  }

  nav ul {
    opacity: 1;
  }

  nav ul.left-nav-ul {
    display: flex;
    grid-column: 2 / 6;
    justify-content: space-between;
    letter-spacing: 2px;
    font-size: var(--fs-H6);
  }

  nav ul.right-nav-ul {
    padding-right: 1rem;
    display: flex;
    grid-column: 11 / 12;
    justify-content: space-between;
    letter-spacing: 2px;
  }

  nav li a {
    opacity: 1;
    font-size: var(--fs-body-1);
  }


  .primary-content {
    grid-column: 2 / 12;
    grid-row: 2 /7;
    margin: 1rem;
    justify-content: space-around;
  }

  .card {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-size: cover;
    max-width: 360px;
    font-weight: 400;
    left: 20px;
    top: 20px;
  }
  .card-header > img{
    display: flex;

  }
  .card-body{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .card-info{
    display: flex;
    justify-content: space-between;

  }
  .card-info p {
     font-size: var(--fs-caption);
     font-style: italic;
  padding: 0.5rem;
  }

  .card-stats {
    display: flex;
    padding: 0.25rem;


    justify-content: space-between;
  }

  .create-edit-post-container {
    grid-column: 6/7;
  }

  /* #endregion  mid media */
}

.post-create-edit-form {
  display: grid;
  grid-template-columns: repeate(3, 1fr);
  grid-template-rows: minmax(350, 1fr);

}

.upload-button {
  grid-row: 2;
}

.post-submit-button {
  grid-row: 3;
}

.comment-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.comment-container {
  display: flex;
  flex-direction: column;
}

.comment-item {
  display: flex;
  flex-direction: column;
  font-size: var(--fs-body);
  box-shadow: inset 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

}

.comment-content {
  padding: 12px;
}

.comment-item p {
  font-size: var(--fs-caption);
  padding: 0.5rem;
}


.comment-info {
  display: flex;
  flex-direction: row;

}

.create-comment-form {
  display: flex;
  flex-direction: row;
}

.create-comment-form p {
  display: flex;
  font-size: var(--fs-body-2);
  border: 1px solid black;

}

.create-comment-form button {
  display: flex;
  font-size: var(--fs-caption);

}

/* #startregion large-media */
@media (min-width: 50em) {
  :root {
    --fs-H1: 6rem;
    --fs-H2: 3.75rem;
    --fs-H3: 3rem;
    --fs-H4: 2.125rem;
    --fs-H5: 1.5rem;
    --fs-H6: 1.25rem;
    --fs-body-1: 1rem;
    --fs-body-2: 0.875rem;
    --fs-caption: 0.75rem;
  }
}

/* #endregion large-media */
/* 40 em = 640 px
50em = 960px */