*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
    --ff-body: 'Poppins', sans-serif;
    --fs-H1: 4.5rem;
    --fs-H2: 2.75rem;
    --fs-H3: 2rem;
    --fs-H4: 2.125rem;
    --fs-H5: 1.5rem;
    --fs-H6: 1.25rem;
    --fs-body-1: 1rem;
    --fs-body-2: 0.875rem;
    --fs-caption: 0.75rem;
    --clr-primary-light: rgb(255, 255, 255);
    --clr-primary-dark: rgb(38, 38, 38);
    --fclr-primary-light: rgb(38, 38, 38);
    --fclr-primary-dark: rgb(255, 255, 255);
    --nav-background: rgb(134, 162, 194);
    /* use for background */
    --clr-primary: rgba(2, 115, 94, 1);
    /* use for nav */
    --clr-secondary: rgba(2, 89, 81, 1);
    /* maybe for menu buttons */
    --clr-outline: rgba(3, 65, 89, 1);
    /* for important icons */
    --clr-important: rgba(12, 242, 93, 1);
    /* subtext? */
    --clr-subtext: rgba(3, 140, 62, 1);
    /* main background */
    --clr-mybackground: rgba(166, 166, 166, 1);
    --clr-alt-background: rgba(64, 64, 64, 1);
    --clr-btn: rgba(219, 219, 219, 1);
    --padding: 1rem;
    margin: 0;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: var(--clr-secondary);
    color: var(--fclr-primary-dark);
    font-family: var(--ff-body);
    font-size: var(--fs-body);
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 5px;
    row-gap: 1em;
}
